<mediasources>
  <network>
    <location id="0">smb://{{ kodi_db_ip }}/data/media/movies</location>
    <location id="1">smb://{{ kodi_db_ip }}/data/media/tv</location>
    <location id="2">smb://{{ kodi_db_ip }}/data/media/music</location>
  </network>
</mediasources>