[paths]
provisioning = /etc/grafana/provisioning

[server]
protocol = http
http_port = {{ grafana_http_port }}
root_url = {{ grafana_root_url }}
serve_from_sub_path = true

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}
disable_gravatar = true
cookie_secure = true
cookie_samesite = strict

[auth]
disable_login_form = false
disable_signout_menu = false

[users]
allow_sign_up = false

[log]
mode = console
level = info
