# Managed by Ansible - STIG pwquality
minlen = {{ minlen }}
difok = {{ difok }}
ucredit = {{ ucredit }}
lcredit = {{ lcredit }}
dcredit = {{ dcredit }}
ocredit = {{ ocredit }}
enforcing = {{ enforcing_pwquality }}
dictcheck = {{ dictcheck }}
