#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0;
    policy drop;

    # Allow loopback
    iif lo accept

    # Allow established/related connections
    ct state established,related accept

    # Allow inbound SSH and HTTP
    tcp dport { 22, 80 } accept

    # Explicitly drop everything else
    counter drop
  }

  chain output {
    type filter hook output priority 0;
    policy drop;

    # Allow loopback
    oif lo accept

    # Allow established/related connections
    ct state established,related accept

    # Allow outbound traffic to 192.168.1.0/24 on specific ports
    ip daddr 192.168.1.0/24 tcp dport { 8989, 7878, 8686, 9696, 8080, 8787 } accept

    # Explicitly drop everything else
    counter drop
  }
}