global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
{% for job in prometheus_scrape_jobs %}
  - job_name: "{{ job.job_name }}"
    static_configs:
{% for sc in job.static_configs %}
      - targets: {{ sc.targets }}
{% endfor %}
{% endfor %}
