
# STIG: password complexity
minlen = {{ pw_minlen }}
minclass = {{ pw_minclass }}
dcredit = {{ pw_dcredit }}
ucredit = {{ pw_ucredit }}
lcredit = {{ pw_lcredit }}
ocredit = {{ pw_ocredit }}
retry = 3
