[Unit]
Description=Kodi Media Center (Headless)
After=network.target

[Service]
User=kodi
Group=media
Environment=DISPLAY=:0
ExecStart=/usr/bin/xinit /usr/bin/flatpak run tv.kodi.Kodi -- :0 -nolisten tcp vt7
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target