{
    "lidarr": {
        "save_path": ""
    },
    "prowlarr": {
        "save_path": ""
    },
    "radarr": {
        "save_path": ""
    },
    "readarr": {
        "save_path": ""
    },
    "sonarr": {
        "save_path": ""
    },
    "whisparr": {
        "save_path": ""
    }
}
