[Unit]
Description=qBittorrent-nox service
After=network.target

[Service]
User=qbittorrent
Group=media
ExecStart=/opt/qbittorrent-nox --profile=/var/lib/qbittorrent-nox
Restart=on-failure
TimeoutStopSec=300
KillMode=process


[Install]
WantedBy=multi-user.target
