[Unit]
Description=qBittorrent-nox instance for {{ item.name }}
After=network.target

[Service]
User={{ item.name }}
Group={{ media_group }}
ExecStart=/usr/bin/qbittorrent-nox --profile=/home/{{ item.name }}/.config -d --webui-port={{ item.port }}
Restart=on-failure

[Install]
WantedBy=multi-user.target