[Unit]
Description=qBittorrent-nox instance for qbittorrent1
After=network.target

[Service]
User=qbittorrent1
Group=media
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
