[Unit]
Description=qBittorrent-nox instance for qbittorrent1
After=network.target

[Service]
User=qbittorrent1
Group=media
Environment=XDG_CONFIG_HOME=/home/qbittorrent1/.config
WorkingDirectory=/home/qbittorrent1
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
