# Configuration template for sonarr
<Config>
<LogLevel>info</LogLevel>
<EnableSsl>False</EnableSsl>
<Port>8989</Port>
<SslPort>9898</SslPort>
<UrlBase/>
<BindAddress>*</BindAddress>
<ApiKey>10f01a282be24a6fb9896f16336bb964</ApiKey>
<AuthenticationMethod>Forms</AuthenticationMethod>
<UpdateMechanism>BuiltIn</UpdateMechanism>
<Branch>main</Branch>
<InstanceName>Sonarr</InstanceName>
<LaunchBrowser>True</LaunchBrowser>
<SyslogPort>514</SyslogPort>
<UpdateAutomatically>True</UpdateAutomatically>
<AuthenticationRequired>Enabled</AuthenticationRequired>
<SslCertPath/>
<SslCertPassword/>
</Config>