server.port: {{ kibana_server_port }}
server.host: {{ kibana_server_host }}
server.publicBaseUrl: {{ kibana_public_url }}

opensearch.hosts: ["https://localhost:{{ wazuh_indexer_http_port }}"]
opensearch.username: {{ wazuh_indexer_username }}
opensearch.password: {{ wazuh_indexer_password }}
# server.ssl.enabled: true
# server.ssl.certificate: /etc/kibana/certs/server.crt
# server.ssl.key: /etc/kibana/certs/server.key


