tunnel: {{ cloudflared_tunnel_id }}
credentials-file: /etc/cloudflared/{{ cloudflared_tunnel_id }}.json
ingress:
{% for rule in cloudflared_ingress %}
  - {% if rule.hostname is defined %}hostname: {{ rule.hostname }}
    service: "{{ rule.service }}"
    {% else %}service: "{{ rule.service }}"
    {% endif %}
{% endfor %}

